        a#header {
        color:rgb(238, 238, 241) ;
    }

    footer {
        text-align: center;
        padding: 3px;
        background-color: blue;
        color:white;
        display: block;
    }